h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #88A18F;
    background: lightgrey;
}

#plant-header {
    text-align: center;
    background: lightgrey;
    opacity: .8;
    height: 7rem;
    padding: 1rem;
}

#plant-header img {
    height: 5rem;
    width: auto;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: antiquewhite;
    color: black;
}

body .input-text {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    height: auto;
    width: 250px;
    box-sizing: border-box;
}

#add-plant-button {
    font-family: 'Courier New', Courier, monospace;
    height: auto;
    width: 150px;
}

.card {
    text-align: center;
    border: #88A18f;
    padding: 1rem;
    width: 15rem;
    height: 25rem;
    display: inline-grid;
    margin: 3rem;
    margin-bottom: 25rem;
    box-shadow: lightgrey;
}

.plant-avatar {
    justify-self: center;
    height: 12rem;
    width: auto;
}

#plant-collection {
    margin: 6rem;
}

button {
    font-family: 'Courier New', Courier, monospace;
}

.add-plant-form {
    width: 80%;
}

select {
    font-family: 'Courier New', Courier, monospace;
}
